/*
-------------------
  Content Table
-------------------
- Less variables
- Global styles
- css3 animations
- Common classes
- Preloader
- Main section
- Search section
- Background section
- Media Queries

*/
html,
body {
  height: 100%;
}
body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #ffffff;
  font-weight: 300;
  overflow-x: hidden;
  overflow-y: scroll;
}
a {
  color: #ffffff;
}
a:hover {
  text-decoration: none;
  color: #f9f9f9;
}
a:focus,
a:active {
  text-decoration: none;
}
ul,
ol {
  padding: 0;
}
/* css3 animations */
@-webkit-keyframes contentAnim {
  0% {
    top: 200px;
  }
  100% {
    top: 0;
  }
}
@-moz-keyframes contentAnim {
  0% {
    top: 200px;
  }
  100% {
    top: 0;
  }
}
@-o-keyframes contentAnim {
  0% {
    top: 200px;
  }
  100% {
    top: 0;
  }
}
@keyframes contentAnim {
  0% {
    top: 200px;
  }
  100% {
    top: 0;
  }
}
@-webkit-keyframes fromTop288 {
  0% {
    top: 60px;
  }
  100% {
    top: 288px;
  }
}
@-moz-keyframes fromTop288 {
  0% {
    top: 60px;
  }
  100% {
    top: 288px;
  }
}
@keyframes fromTop288 {
  0% {
    top: 60px;
  }
  100% {
    top: 288px;
  }
}
@-webkit-keyframes fromLeft25 {
  0% {
    left: -5%;
  }
  100% {
    left: 25%;
  }
}
@-moz-keyframes fromLeft25 {
  0% {
    left: -5%;
  }
  100% {
    left: 25%;
  }
}
@keyframes fromLeft25 {
  0% {
    left: -5%;
  }
  100% {
    left: 25%;
  }
}
@-webkit-keyframes fromLeft8 {
  0% {
    left: -15%;
  }
  100% {
    left: 8%;
  }
}
@-moz-keyframes fromLeft8 {
  0% {
    left: -15%;
  }
  100% {
    left: 8%;
  }
}
@keyframes fromLeft8 {
  0% {
    left: -15%;
  }
  100% {
    left: 8%;
  }
}
@-webkit-keyframes fromLeft0 {
  0% {
    left: -85%;
  }
  100% {
    left: 0%;
  }
}
@-moz-keyframes fromLeft0 {
  0% {
    left: -85%;
  }
  100% {
    left: 0%;
  }
}
@keyframes fromLeft0 {
  0% {
    left: -85%;
  }
  100% {
    left: 0%;
  }
}
@-webkit-keyframes fromLeft70 {
  0% {
    left: -10%;
  }
  100% {
    left: 70%;
  }
}
@-moz-keyframes fromLeft70 {
  0% {
    left: -10%;
  }
  100% {
    left: 70%;
  }
}
@keyframes fromLeft70 {
  0% {
    left: -10%;
  }
  100% {
    left: 70%;
  }
}
@-webkit-keyframes fromRight8 {
  0% {
    left: -10%;
  }
  1% {
    left: 100%;
  }
  100% {
    left: 80%;
  }
}
@-moz-keyframes fromRight8 {
  0% {
    left: -10%;
  }
  1% {
    left: 100%;
  }
  100% {
    left: 80%;
  }
}
@keyframes fromRight8 {
  0% {
    left: -10%;
  }
  1% {
    left: 100%;
  }
  100% {
    left: 80%;
  }
}
@-webkit-keyframes fromRight0 {
  0% {
    right: -10%;
  }
  100% {
    right: 0;
  }
}
@-moz-keyframes fromRight0 {
  0% {
    right: -10%;
  }
  100% {
    right: 0;
  }
}
@keyframes fromRight0 {
  0% {
    right: -10%;
  }
  100% {
    right: 0;
  }
}
@-webkit-keyframes swimm {
  0% {
    right: 30%;
  }
  40% {
    -webkit-transform: scaleX(1);
  }
  50% {
    right: 90%;
    -webkit-transform: scaleX(-1);
  }
  90% {
    -webkit-transform: scaleX(-1);
  }
  100% {
    -webkit-transform: scaleX(1);
    right: 30%;
  }
}
@-moz-keyframes swimm {
  0% {
    right: 30%;
  }
  40% {
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    transform: scaleX(1);
  }
  50% {
    right: 90%;
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  90% {
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  100% {
    right: 30%;
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    transform: scaleX(1);
  }
}
@keyframes swimm {
  0% {
    right: 30%;
  }
  40% {
    -webkit-transform: scaleX(1);
  }
  50% {
    right: 90%;
    -webkit-transform: scaleX(-1);
  }
  90% {
    -webkit-transform: scaleX(-1);
  }
  100% {
    -webkit-transform: scaleX(1);
    right: 30%;
  }
}
.contentAnim {
  -webkit-animation: contentAnim .8s forwards;
  -moz-animation: contentAnim .8s forwards;
  animation: contentAnim .8s forwards;
}
.fromTop288 {
  -webkit-animation: fromTop288 .8s forwards;
  -moz-animation: fromTop288 .8s forwards;
  animation: fromTop288 .8s forwards;
}
.fromLeft25 {
  -webkit-animation: fromLeft25 .8s forwards;
  -moz-animation: fromLeft25 .8s forwards;
  animation: fromLeft25 .8s forwards;
}
.fromLeft8 {
  -webkit-animation: fromLeft8 .8s forwards;
  -moz-animation: fromLeft8 .8s forwards;
  animation: fromLeft8 .8s forwards;
}
.fromLeft0 {
  -webkit-animation: fromLeft0 1.5s forwards;
  -moz-animation: fromLeft0 1.5s forwards;
  animation: fromLeft0 1.5s forwards;
}
.fromLeft70 {
  -webkit-animation: fromLeft70 .5s forwards;
  -moz-animation: fromLeft70 .5s forwards;
  animation: fromLeft70 .5s forwards;
}
.fromRight8 {
  -webkit-animation: fromRight8 .8s forwards;
  -moz-animation: fromRight8 .8s forwards;
  animation: fromRight8 .8s forwards;
}
.fromRight0 {
  -webkit-animation: fromRight0 1s forwards;
  -moz-animation: fromRight0 1s forwards;
  animation: fromRight0 1s forwards;
}
.relative {
  position: relative;
}
.animated {
  visibility: hidden;
}
.visible {
  visibility: visible;
}
.space {
  margin: 108px auto 27px;
}
.image-divider {
  background: url(../images/divider.png) center center no-repeat;
  width: 110px;
  height: 40px;
  margin: 27px auto;
}
/* Preloader */
.preloader {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #fff;
  z-index: 1001;
}
.preloader .loader {
  position: absolute;
  top: 40%;
  left: calc(50% - 54px);
  width: 54px;
  height: 54px;
  border-radius: 50%;
  border-top: 2px solid #7bbdcd;
  border-left: 2px solid transparent;
  border-bottom: 2px solid #7bbdcd;
  border-right: 2px solid #7bbdcd;
}
/* Main section */
.error-contents {
  position: relative;
  text-align: center;
  height: 100%;
  background: transparent;
  z-index: 100;
}
.error-title {
  display: block;
  font-family: 'Lobster', cursive, serif;
  font-size: 3em;
  font-weight: 400;
  line-height: 1.1;
  text-transform: uppercase;
  margin: 108px auto 0;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.35);
  letter-spacing: 2px;
}
.error-text {
  text-transform: capitalize;
  letter-spacing: 1px;
  font-family: 'Lobster', cursive, serif;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.35);
}
input[type="search"] {
  text-align: left;
  min-height: 54px;
  border: 0;
  border-radius: 4px;
  color: #7bbdcd;
  font-size: 21px;
  font-weight: 400;
  padding: 0 0 0 95px;
  transition: all .5s;
}
input[type="search"]:focus {
  outline: 0;
}
.home-button {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 500;
    background-color: #FF0101;
    height: 54px;
    min-width: 164px;
    padding: 13px 0;
    border-radius: 4px;
    box-shadow: 0px 4px 0px #921834;
    letter-spacing: 1px;
    transition: all 0.3s ease-in;
}
.home-button:hover {
  background-color: #993628;
}
/* Search section */
.morphsearch-content {
  color: #666;
}
.morphsearch-content a {
  color: #666;
}
.link-box h2 {
  color: #327f91;
  font-size: 1.1667em;
  font-weight: 700;
  margin: 0 0 13.5px;
  text-transform: uppercase;
  border-bottom: 2px solid #327f91;
}
.link-box h2 span {
  margin-right: 8px;
  background: #327f91;
  color: #fff;
  padding: 5px 8px;
  line-height: 1.1;
}
.page-links {
  list-style: none;
  padding-left: 10px;
}
.page-links li {
  padding: 0 0 3px 20px;
  position: relative;
}
.page-links li > span {
  position: absolute;
  top: 10px;
  left: 0;
  font-size: .555em;
  margin-right: 10px;
}
.page-links li a {
  font-weight: 400;
  font-size: 14px;
  text-transform: capitalize;
}
.page-links li a:hover {
  color: #B33A28;
}
.social-links {
  text-align: center;
  list-style: none;
  padding: 54px 0 27px;
  margin: 0;
}
.social-links li {
  display: inline-block;
  margin: 5px;
}
.social-links li a {
  display: block;
  color: #fff;
  background-color: #327F91;
  font-size: 1.1667em;
  height: 54px;
  width: 54px;
  padding: 12px;
  border-radius: 50%;
  box-shadow: inset 0px 0px 0px 25px rgba(255, 255, 255, 0.1);
  transition: all .3s;
}
.social-links li a.facebook {
  background-color: #3B5999;
}
.social-links li a.twitter {
  background-color: #29C5F6;
}
.social-links li a.google-plus {
  background-color: #D84938;
}
.social-links li a.pinterest {
  background-color: #C61118;
}
.social-links li a.instagram {
  background-color: #BC805E;
}
.social-links li a.linkedin {
  background-color: #0082CA;
}
.social-links li a:hover {
  box-shadow: inset 0px 0px 0px 5px rgba(255, 255, 255, 0.3);
  color: #eee;
}
/* Background section */
.error-background {
  position: fixed;
  top: 0;
  left: 0;
  background: url(../images/sky.jpg) center center no-repeat;
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.error-background .cloud {
  position: absolute;
}
.error-background .cloud-big {
  top: 108px;
  left: 8%;
}
.error-background .cloud-small {
  top: 27px;
  left: 25%;
  width: 100px;
  height: auto;
}
.error-background .cloud-rain {
  top: 81px;
  left: 80%;
}
.error-background .sea-island {
  position: absolute;
  left: 0;
  bottom: 0;
  height: auto;
  width: 85%;
}
.error-background .rock {
  position: absolute;
  right: 0;
  bottom: 0;
  height: auto;
  width: 25%;
}
.error-background .shark {
  height: 50px;
  width: auto;
  position: absolute;
  right: 30% ;
  bottom: 10px;
  -webkit-animation: swimm 15s infinite;
  -moz-animation: swimm 15s infinite;
  animation: swimm 15s infinite;
}
/* Media queries */
@media (max-width: 767px) {
  .morphsearch.open .morphsearch-input {
    font-size: 2em;
    padding-left: 60px;
  }
  .morphsearch.open .morphsearch-submit {
    width: 40px;
    height: 40px;
    top: 60px;
  }
  .error-background .cloud-big {
    width: 100px;
    height: auto;
  }
  .error-background .cloud-small {
    width: 50px;
    height: auto;
  }
  .error-background .cloud-rain {
    width: 80px;
    height: auto;
  }
  .error-background .shark {
    height: 30px;
  }
}
@media (max-width: 480px) {
  .morphsearch {
    width: 250px;
  }
  input[type="search"] {
    padding: 0 0 0 45px;
  }
  .morphsearch.open .morphsearch-input {
    font-size: 1em;
  }
  .error-background .shark {
    bottom: 5px;
  }
}
